nav {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  height : 50px;
}

nav ul {
  list-style-type: none;

  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

nav a:hover {
  color: #000;
}
